{% include "includes/user_navigation.html" %}


<h1> Admin navigation </h1>

<br>
<a href="{% url 'handle_add_department' %}" > See list of dept and add a dept  </a>
<br>


<br>
<a href="{% url 'handle_add_new_student' %}" > Add a student  </a>
<br>


<br>
<a href="{% url 'handle_add_new_teacher' %}" > Add a teacher  </a>
<br>


<br>
<a href="{% url 'handle_add_new_course' %}" > See list of courses and add a course  </a>
<br>


<br>
<a href="{% url 'handle_add_new_class_of_course' %}" > See list of classes and add a class  </a>
<br>


