{% comment %}
all_waiting_for_approval_enrolment_of_this_dept,
all_approved_enrolment_of_this_dept,
all_rejected_enrolment_of_this_dept,
dept_of_hod,
hod_approve_enrolment_form
{% endcomment %}



{% include 'includes/teacher_navigation.html' %}

{% if hod_approve_enrolment_form %}
    <br>
    <br>
    <h1> Approve Enrolments of {{ dept_of_hod.name }} </h1>
    <form method="post" action="">
    {% csrf_token %}
    <table>
    {{ hod_approve_enrolment_form }}
    </table>
    <input type="submit" name="approve" value="Approve"/>
    <input type="submit" name="reject" value="Reject"/>
    </form>

    <br>
    <br>
{% endif %}

<br>
<h3> Approved enrolment of {{ dept_of_hod.name }} </h3>
{%  for en in all_approved_enrolment_of_this_dept %}
    <br>
    {{ en }}
    <br>
{% endfor %}
<br>


<br>
<h3> Rejected enrolment of {{ dept_of_hod.name }} </h3>
{%  for en in all_rejected_enrolment_of_this_dept %}
    <br>
    {{ en }}
    <br>
{% endfor %}
<br>
