{% comment %}
user_change_password_form,
error_message,
success_message,
current_user,
{% endcomment %}


<h1> hello {{ current_user.user_type }} hello </h1>


{% ifequal current_user.user_type "TEACHER" %}
    {% include 'includes/teacher_navigation.html' %}
{% endifequal %}

{% ifequal current_user.user_type "STUDENT" %}
    {% include 'includes/student_navigation.html' %}
{% endifequal %}

{% ifequal current_user.user_type "ADMIN" %}
    {% include 'includes/admin_navigation.html' %}
{% endifequal %}





{% if error_message %}
    <br>
    <b> {{ error_message }} </b>
    <br>
{% endif %}

{% if success_message %}
    <br>
    <b> {{ success_message }} </b>
    <br>
{% endif %}



{% if user_change_password_form %}
    <br>
    <br>
    <h1> change password </h1>
    <form method="post" action="">
    {% csrf_token %}
    <table>
    {{ user_change_password_form }}
    </table>
    <input type="submit" value="Change!!"/>
    </form>

    <br>
    <br>
{% endif %}

