{% comment %}
user_change_password_form,
error_message,
success_message
{% endcomment %}


{% include 'includes/user_navigation.html' %}


{% if error_message %}
    <br>
    <b> {{ error_message }} </b>
    <br>
{% endif %}

{% if success_message %}
    <br>
    <b> {{ success_message }} </b>
    <br>
{% endif %}



{% if user_change_password_form %}
    <br>
    <br>
    <h1> change password </h1>
    <form method="post" action="">
    {% csrf_token %}
    <table>
    {{ user_change_password_form }}
    </table>
    <input type="submit" value="Change!!"/>
    </form>

    <br>
    <br>
{% endif %}

